<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="">Check-in Date:</label>
        <input type="date" formControlName="checkInDate">
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">Check-In Date is required.</div>
    </div>
    <div>
        <label for="">Check-out Date:</label>
        <input type="date" formControlName="checkOutDate">
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">Check-out Date is required.</div>
    </div>
    <div>
        <label for="">Guest Name:</label>
        <input type="text" formControlName="guestName">
        <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">Guest Name is required.</div>
    </div>
    <div>
        <label for="">Guest Email:</label>
        <input type="email" formControlName="guestEmail">
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">Guest email is required.</div>
    </div>
    <div>
        <label for="">Room Number:</label>
        <input type="number" formControlName="roomNumber">
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">Room number is required.</div>
    </div>

    <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>